@import '../global.css';

.app-drawer {
  width: 90%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: lightslategray;
  transform: translateX(-420px);
}

@media(--app-tablet-viewport) {
  .app-drawer {
    max-width: 400px;
  }
}
