@import 'colors.css';

:root {
  --app-primary-color: var(--material-purple-500);
  --app-accent-color: var(--material-amber-400);
  --app-primary-text-color: color(var(--color-black) a(87%));

  --app-preferred-font: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  --app-performance-font: 'Helvetica', 'Arial', sans-serif;

  @custom-media --app-tablet-viewport (min-width: 480px);
  @custom-media --app-desktop-viewport (min-width: 840px);
}

body, html {
  padding: 0;
  margin: 0;
  background-color: white;
}